<!DOCTYPE html>
<html>
	<head>
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/category.css"/>
	</head>
	<body>
		<%-include('shared/header')%>
		<section class="content">
			<%-include('shared/sideNav')%>
			<div class="side-content">
				<%-include('shared/productModule')%>
			</div>
		</section>
		<%-include('shared/footer')%>
	</body>
</html>
