<!DOCTYPE html>
<html>
	<head>
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	    <meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/personal/personal.css"/>
	</head>
	<body>
		<%-include('../shared/detailHeader',{htitle:'个人中心'})%>
		<section class="content"></section>
	</body>
</html>
